{% extends "base.html" %}

{% block content %}
<div>
    <h1>Профиль:</h1>
    <ul>
        <li><p>{{ user.username }}</p></li>
    </ul>
</div>
<div>
    <h1>Ваши треки:</h1>
    {% if tracks.exists %}
    {% for track in tracks %}
    <div>
        <p> {{ track.name }}</p>
    </div>
    {% endfor %}
    {% else %}
        <p>Треков еще нет</p>
    {% endif %}
</div>
<div>
    <h1>Ваши альбомы:</h1>
    {% if playlists.exists %}
    {% for playlist in playlists %}
    <div>
        <p> {{ playlist.name }}</p>
    </div>
    {% endfor %}
        <p>Здесь будут альбомы</p>
    {% else %}
        <p>Альбомов еще нет</p>
    {% endif %}
</div>

{% endblock %}