@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #4158d0 0%, #c850c0 25%, #ffcc70 100%);
    background-attachment: fixed;
    font: 400 16px/24px 'Montserrat';
    overscroll-behavior: auto;
    height: 100%;   
}

section{
    margin-bottom: 20px;
}

a{
    /* text-decoration: none; */
    color: #000;
}

/* .lol{
    color: #000;
} */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar{
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 5px 120px;
}

.navbar div{
    margin-right: 16px;
    display: inline-block;
}

.navbar a{
    font-weight: 800;
}

.navbar-right{
    margin-left: auto;
}

.navbar .search-bar{
    height: 30px;
    width: 300px;
}


.main{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0px 100px;
}

.sidebar{
    width: 20%;
    background: #fff;
    border-radius: 5px;
}

.sidebar ul>a{
    display: block;
    padding: 1rem;
    border: 1px;
    border-color: bisque;
}

.content{
    width: 77%;
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
}
