{% extends "base.html" %}

{% block content %}
<h1>Плейлист: {{ playlist.name }}</h1>
<p>Создатель: {{ playlist.creator }}</p>
<p>Создан: {{ playlist.created_at }}</p>

<h2>Треки</h2>
{% for track in tracks %}
<p>
    Трек "{{ track.name }}" ({{ track.author }})
</p>
{% endfor %}

{% if request.user.is_authenticated %}
    <form method="post" action="{% url 'playlist' pk=playlist.id%}">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Отправить">
    </form>
{% endif %}
{% if comments%}
{% for comment in comments %}
<h3>Комментарий пользователя {{ comment.author }}</h3>
<p> {{ comment.message }}</p>
<span>{{ comment.created_at }}</span>
{% endfor %}
{% else %}
<h3>Комментарии отсутствуют </h3>
{% endif %}

{% endblock %}