{% extends "base.html" %}

{% block content %}
{{ user }}

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'profile_view' pk=user.id%}">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.id }}">
    <button type="submit" name="follow">Подписаться</button>
</form>
<form method="post" action="{% url 'profile_view' pk=user.id%}">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.id }}">
    <button type="submit" name="unfollow">Отписаться</button>
</form>
{% endif %}

{% endblock %}