{% extends "base.html" %}

{% block content %}
<div>
    <h1>Профиль:</h1>
    <ul>
        <li><p>{{ user.username }}</p></li>

    </ul>
</div>

<div>
    <h1>Подписки:</h1>
    {% if following.exists %}
        {% for user in following %}
        <a href="{% url 'user' pk=user.id %}">
            <p>{{ user.username }}</p>
        </a>
        {% endfor %}
    {% else %}
        <p>Подписок еще нет</p>
    {% endif %}
</div>

<div>
    <h1>Подписчики:</h1>
    {% if followers.exists %}
        {% for user in followers %}
        <a href="{% url 'user' pk=user.id %}">
            <p>{{ user.username }}</p>
        </a>
        {% endfor %}
    {% else %}
        <p>Подписчиков еще нет</p>
    {% endif %}
</div>

<div>
    <h1>Созданные плейлисты:</h1>
    {% if created_playlists.exists %}
    <ul>
        {% for playlist in created_playlists %}
            <li>
                <a href="{% url 'playlist' pk=playlist.pk %}">
                    <p>{{ playlist.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Вы еще не создали плейлисты</p>
    {% endif %}
</div>

<div>
    <h1>Понравившиеся плейлисты</h1>
    {% if liked_playlists.exists %}
    <ul>
        {% for playlist in liked_playlists %}
        <li>
            <a href="{% url 'playlist' pk=playlist.pk %}">
                <p> {{ playlist.name }}</p>
            </a>
            <form method="post" action="{% url 'manager' %}" style="display: inline-block;">
                {% csrf_token %}
                <input type="hidden" name="content" value="playlist">
                <input type="hidden" name="pk" value="{{ playlist.id}}">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" name="delete">Удалить плейлист</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Вам еще не понравились какие-либо плейлисты</p>
    {% endif %}
</div>

<div>
    <h1>Добавленные треки:</h1>
    {% if tracks.exists %}
    <ul>
        {% for track in tracks %}
        <li>
            <p>
                {{ track.name }} by {{ track.author }}
            </p>
            <form method="post" action="{% url 'manager' %}" style="display: inline-block;">
                {% csrf_token %}
                <input type="hidden" name="content" value="track">
                <input type="hidden" name="pk" value="{{ track.id_musixmatch }}">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" name="delete">Удалить трек</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Треков еще нет</p>
    {% endif %}
</div>

{% endblock %}