{% extends "base.html" %}

{% block content %}

<h1>Результаты поиска '{{ query }}'</h1>

<h2>Треки</h2>
{% if tracks %}
<ul>
  {% for track in tracks %}
    <li>
        <p>
          Название: {{ track.track.name }}<br>
          Исполнитель: {{ track.track.artist.name }}
        </p>
        {% if request.user.is_authenticated %}
          <div>
              <form method="post" action="{% url 'manager' %}" style="display: inline-block;">
                  {% csrf_token %}
                  <input type="hidden" name="content" value="track">
                  <input type="hidden" name="pk" value="{{ track.id_musixmatch }}">
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" name="add">Добавить трек</button>
              </form>
          </div>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
<p>Данные по трекам отсутствуют</p>
{% endif %}

<h2>Исполнители</h2>
{% if artists %}
{% for artist in artists %}
<ul>
  <li>
      <p>
        {{ artist.artist.name }}
      </p>
  </li>
</ul>
{% endfor %}
{% else %}
<p>Данные по исполнителям отсутствуют</p>
{% endif %}

<h2>Профили пользователей</h2>
{% if profiles %}
{% for profile in profiles %}
  <a href="{% url 'user' pk=profile.id %}">
    <p>Профиль {{ profile.username }}</p>
  </a>
{% endfor %}
{% else %}
  <p> Профиль не найден </p>
{% endif %}

{% endblock %}