{% extends "base.html" %}

{% block content %}

<h1>Результаты поиска '{{ query }}'</h1>

<h2>Треки</h2>
{% if tracks %}
{% for track in tracks %}
<ul>
  <li>
      <p>
        Название: {{ track.track.name }}<br>
        Исполнитель: {{ track.track.artist.name }}
      </p>
      <!-- {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'top-tracks' %}">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ track.track.track_id }}">
        <input type="submit" value="Добавить">
      </form>
      {% endif %} -->
  </li>
</ul>
{% endfor %}
{% else %}
<p>Данные по трекам отсутствуют</p>
{% endif %}

<h2>Исполнители</h2>
{% if artists %}
{% for artist in artists %}
<ul>
  <li>
      <p>
        {{ artist.artist.name }}
      </p>
  </li>
</ul>
{% endfor %}
{% else %}
<p>Данные по исполнителям отсутствуют</p>
{% endif %}

{% endblock %}