{% extends "base.html" %}

{% block content %}
<h1>Чарт самых прослушиваемых произведений за неделю</h1>
{% if tracks %}
  {% for track in tracks %}
  <ul>
    <li>
        <p>
          Название: {{ track.track.name }}<br>
          Исполнитель: {{ track.track.artist.name }}
        </p>
        {% if request.user.is_authenticated %}
          <div>
            <form method="post" action="{% url 'manager' %}" style="display: inline-block;">
                {% csrf_token %}
                <input type="hidden" name="content" value="track">
                <input type="hidden" name="pk" value="{{ track.track.id_musixmatch }}">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" name="add">Добавить трек</button>
            </form>
          </div>
        {% endif %}
    </li>
  </ul>
  {% endfor %}
{% else %}
<h2>Данные по трекам отсутствуют</h2>
{% endif %}

{% endblock %}