{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>

    {% include "navbar.html" %}
    <section class="main">
        <div class="sidebar">
            <ul>
                <a href="{% url 'top-artists' %}">Лучшие исполнители</a>
                <a href="{% url 'top-tracks' %}">Горячие треки</a>
                <a>Рекомендации</a>
            </ul>
        </div>
        <div class="content">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content%}
            {% endblock %}       
        </div>
    </section>
</body>
</html>